<h2>{{ editMode ? '✏️ Editar Producto' : '➕ Nuevo Producto' }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()" class="form-container">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required />
    <mat-error *ngIf="form.get('nombre')?.hasError('required') && form.get('nombre')?.touched">
      Por favor ingresa el nombre, este campo es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" required />
    <mat-error *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched">
      Por favor ingresa la descripción, este campo es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Categoría</mat-label>
    <input matInput formControlName="categoria" required />
    <mat-error *ngIf="form.get('categoria')?.hasError('required') && form.get('categoria')?.touched">
      Por favor ingresa la categoría, este campo es obligatorio.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Precio</mat-label>
    <input matInput type="number" formControlName="precio" required min="0" />
    <mat-error *ngIf="form.get('precio')?.hasError('required') && form.get('precio')?.touched">
      Por favor ingresa el precio, este campo es obligatorio.
    </mat-error>
    <mat-error *ngIf="form.get('precio')?.hasError('min')">
      El precio no puede ser negativo.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Stock</mat-label>
    <input matInput type="number" formControlName="stock" required min="0" />
    <mat-error *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">
      Por favor ingresa el stock, este campo es obligatorio.
    </mat-error>
    <mat-error *ngIf="form.get('stock')?.hasError('min')">
      El stock no puede ser negativo.
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    {{ editMode ? 'Actualizar' : 'Guardar' }}
  </button>

</form>

<mat-card *ngIf="mostrarModal" class="modal">
  {{ mensajeModal }}
</mat-card>
