body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #f0f2f5, #d9e2ec); /* Fondo suave */
  color: #333;
}

.app-container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
